*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent), url('madi13.jpg') center center no-repeat;
    background-size: cover;
}

.sec-container {
    width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}

nav .logo {
    width: 120px;
    cursor: pointer;
    font-size: 2.5rem;
    font-style: oblique;
    font-weight: bold;
    text-decoration: none;
    color: #d77819;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    padding-right: 40px;
    text-align: right;
    list-style-type: none;
}

ul li {
    margin-right: 10px;
}

ul li a {
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

button.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    background-color: transparent;
    color: #e9cf03;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

button.btn:hover {
    border-color: #e59f08;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.formWrapper .card {
    width: 360px;
    padding: 20px;
    background-color: rgb(0 0 0 / 35%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.card.show {
    visibility: visible;
    opacity: 1;
}

.card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.1rem;
    color: #94f7e6;
    box-shadow: 2px 3px 8px #d3f7ff71;
    border-radius: 50px;
}

.card-header .form-header {
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
}

.card-header .form-header:hover {
    cursor: pointer;
}

.card-header .form-header.active {
    border-color: #94f7e6;
    box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%), inset -1px 1px 2px rgb(19 210 177 / 55%), inset -1px -1px 2px rgb(19 210 177 / 55%),
        inset 1px -1px 2px rgb(19 210 177 / 55%);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.card-body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

form {
    flex: 0 0 100%;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(134 255 249 / 65%);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: #fff;
}

label {
    display: block;
    padding-bottom: 20px;
    color: rgb(134 255 249 / 65%);
    text-align: left;
}

.form-control::placeholder {
    color: rgb(134 255 249 / 65%);
}

.formButton {
    border: 1px solid transparent;
    padding: 1rem 3rem;
    background-color: #94f7e6;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formButton:hover {
    box-shadow: 3px 5px 15px #94f7e6;
    transform: translateY(-5px);
}

.toggleForm {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}