    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contentDES{
        width:100vw ;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: brown; */
    }
    .globali{
    position: relative;
        width: 90%;
        height: 100%;
        display: flex;
        background-color: rgba(246, 241, 241, 0.591);
    }

    .imgre{
    position: relative;
        width: 50%;
        height: 100%;
        /* background-image: url("../../image/beach.jpg"); */
        /* background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;  */
        border-radius: 5px;
        border: none;
    } 

    #destination-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
        margin-left: 1%;
        margin-top: 1%;
    
    }

    .perso{
        width:60% ;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        
    }
    .perso h1{
    margin-bottom: 40px;
    text-align: center;
    font-size: 45px;
    color: rgb(242, 69, 6);
    }
    .formR {
    margin-top: 15px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    }


    .boxi{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .coli{
    width: 40%;
    height: 40px;
    
    }
    .coli input{
    padding-left: 10px;
    font-size: 17px;
    width: 100%;
    height: 100%;
    outline:  none;
    border-radius: 10px;
    border: 1px rgb(185, 182, 182) solid;
    }

    input[type="radio"] {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    }

    .MODe{
    width: 70%;
    display: block;
    justify-content: space-around;
    align-items: center;
    margin-left: 70px;
    gap: 8px;
    font-size: 17px;
    margin-top :30px;
    
    }

    
    .coli select{
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    width: 100%;
    height: 100%;
    border: 1px rgb(185, 182, 182) solid;
    }
    .butta{
    margin-top: 30px;
        margin: auto; 
    width: 50%;
    height:100px;
    /* margin-bottom: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .butta button{
    width: 50%;
    height: 50px;
    color: rgb(245, 245, 245);
    background-color: orangered;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    outline: none;
    }
    button:hover{
    background-color: rgb(205, 101, 64);;
    }
    @media screen and (max-width: 1400px)  {
    .globali .imgre{
        position: relative;
        top: 0;
        left:0 ;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    .globali .perso{
        position:absolute;
        width: 100%;
        z-index: 10;
    }
    }

    @media screen and (max-width: 780px){
    .globali .perso{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        box-sizing: border-box;  
    }

    .MODe{
        color: white;
    }

    input[type="radio"] {
        font-size: 1rem;
    }

  .perso h1{
        
        margin-bottom: 4rem;
    }
    .imgre{
        display: none;
    }

    body{
        background-image: url("../../image/imgActivite/groupe16.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .globali{
        position: relative;
            width: 90%;
            height: 100%;
            display: flex;
            background-color: transparent;
        }

        .coli input{
            padding-left: 10px;
            font-size: 17px;
            width: 90%;
            height: 100%;
            outline:  none;
            border-radius: 10px;
            /* border: 1px rgb(185, 182, 182) solid; */
            background-color: rgba(255, 255, 255, 0.745);
            margin: auto;
            }

        .MODe p{
            width: 60%;
            display: block;
            justify-content: space-around;
            align-items: center;
            margin-left: 10px;
            gap: 8px;
            font-size: 15px;
            margin-top :15px;
            }

            .MODe{
                
                    /* width: 60%;
                    display: block;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: 10px;
                    gap: 8px;
                    font-size: 15px;
                    margin-top :15px;
                 */
            }


            .coli select{
                padding-left: 10px;
                font-size: 17px;
                width: 90%;
                height: 100%;
                outline:  none;
                border-radius: 10px;
                /* border: 1px rgb(185, 182, 182) solid; */
                background-color: rgba(255, 255, 255, 0.833);
                margin: auto;
            }
    
    .formR{
        position: relative;
        width: 90%;
        height:75% ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: 8%;
        
    }
    .boxi{
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .coli{
    width: 81%;
    height: 40px;
    
    }
    .MODe{
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    font-size: 20px;
    }
    .butta{
    width: 100%;
    height: 60px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    }